POSTGRES_DB=pov
POSTGRES_USER=pov
POSTGRES_PASSWORD=change-this-database-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
SESSION_SECRET=change-this-long-random-session-secret
PUBLIC_ORIGIN=https://www.d2blue.com
APP_BASE_PATH=/pov
NUXT_APP_BASE_URL=/pov/
NUXT_PUBLIC_API_BASE=/pov/api/v1
SEOUL_OPEN_DATA_KEY=sample
SEOUL_OPEN_DATA_LIMIT=5
SITE_ADDRESS=:80
HTTP_BIND=127.0.0.1:18080
HTTPS_BIND=127.0.0.1:18443
