POSTGRES_DB=pov
POSTGRES_USER=pov
POSTGRES_PASSWORD=change-this-database-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
SESSION_SECRET=change-this-to-a-long-random-secret-at-least-32-characters
PUBLIC_ORIGIN=http://localhost
APP_BASE_PATH=/
NUXT_APP_BASE_URL=/
NUXT_PUBLIC_API_BASE=/api/v1
SEOUL_OPEN_DATA_KEY=sample
SEOUL_OPEN_DATA_LIMIT=5
SITE_ADDRESS=:80
HTTP_BIND=80
HTTPS_BIND=443
