POSTGRES_DB=pov
POSTGRES_USER=pov
POSTGRES_PASSWORD=change-this-database-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
SESSION_SECRET=change-this-to-a-long-random-secret-at-least-32-characters
PUBLIC_ORIGIN=http://localhost
SITE_ADDRESS=:80
